*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left{
    width: 25vw;
    padding: 10px;

}
.right{
    width: 75vw;
}
/* body{
    background-color: rgb(3, 1, 1);
    color: whitesmoke;
} */
.invert{
    filter: invert(1);
}
ul li{
    width: 14px;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}
.heading{
    width: 100%;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    padding: 23px 14px;
    font-size: 13px;
}
.heading img{
    width: 30px;
}